<div class="ui fixed inverted menu">
  <div class="ui container">
    <%= link_to root_path, class: "header item" do %>
      <%= image_tag "white_logo.png", class: "logo" %>
      Wiki
    <%end%>
    <%= link_to "Home", root_path, class: "item" %>
    <%= link_to "Signup", signup_path, class: "item" %>
    <%= link_to "login", login_path, class: "item" %>
    <%= link_to "logout", logout_path, class: "item", method: "delete" %>
  </div>
</div>
