
<% @tags = Tag.all %>
<% @topics = Topic.all %>

<div class="ui left fixed vertical menu">
  <div class="header">
    <i class="search icon"></i> Search
  </div>
  <!-- Search form -->
  <%= form_tag "/search", method: "post", class: "ui form" do %>
    <!-- Topics list -->
    <span class="sidebar topic search">
      <div class="ui dropdown">
        <input type="hidden" name="topic">
        <div class="text">Topic</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <% @topics.each do |topic| %>
            <div class="item"><%= topic.name %></div>
          <% end %>
        </div>
      </div>
    </span>
    <!-- Tags list -->
    <select name="tags[]" class="ui fluid search dropdown" multiple="">
      <% @tags.each do |tag| %>
        <option value="<%= tag.name %>"><%= tag.name %></option>
      <% end %>
    </select>

    <%= submit_tag "Go", class: "ui button primary" %>
  <%end%>
</div>
