<% @tags = Tag.all %>
<% @topics = Topic.all %>

<div class="ui left fixed vertical menu">
  <div class="header">
    <i class="search icon"></i> Search
  </div>
  <!-- Search form -->
  <%= form_tag "/search", method: "post", class: "ui form" do %>
    <!-- Topics list -->
    <select name="topic" class="ui dropdown">
      <option value="">Choose a topic...</option>
      <% @topics.each do |topic| %>
        <option value="<%= topic.name %>"><%= topic.name %></option>
      <% end %>
    </select>

    <!-- Tags list -->
    <select name="tags[]" class="ui fluid search dropdown" multiple="">
      <option value="">Choose some tags...</option>
      <% @tags.each do |tag| %>
        <option value="<%= tag.name %>"><%= tag.name %></option>
      <% end %>
    </select>

    <%= submit_tag "Go", class: "ui button primary" %>
  <%end%>
</div>
