<div class="ui primary button back_link">
  <%= link_to "Back", root_path %>
</div>

<h1><%= @topic.name %></h1>
<h2>List of related pages:</h2>

<% if @user.present? %> <!-- Only logged in users can create new page -->
  <%= link_to "Add new page", new_page_path(topic_id: @topic.id) %>
<% end %>

<!-- List of pages in "this" topic -->
<ul>
  <% @topic.pages.each do |page| %>
    <li>
      <%= link_to page.name, page_path(page.id, topic_id: @topic.id) %>
      <% if @user.present? %>
        <% if @user.user_type == "admin" %>

          <!-- Only admin can edit/delete page -->
          <span> | </span>
          <%= link_to "Delete", page_path(page.id, topic_id: @topic.id), method: :delete, data: {confirm: "Are you sure?"} %>
          <span> | </span>
          <%= link_to "Edit", edit_page_path(page.id, topic_id: @topic.id) %>

        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
