<%= form_for @page do |f| %>
  <p>
    <%= render partial: "includes/form_errors", locals: {form: f} %>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :free_content %>
    <%= f.text_field :free_content %>
  </p>
  <p>
    <%= f.label :member_content %>
    <%= f.text_field :member_content %>
  </p>
  <p>
    <label>Tags</label>
    <input type="text" name="tags_string" value="<%= @tags_string %>">
  </p>
  <%= hidden_field_tag 'topic_id', @topic_id %>
  <%= submit_tag "Go", class: "ui button primary" %>
<% end %>
