<!DOCTYPE html>
<html>
  <head>
    <title>Wiki (The better one)</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
</head>

  <body>
    <%= render "includes/navigation" %>

    <div class="ui main text container">
      <%= render "includes/flash_notices" %>
      <%= render "includes/side_menu" %>
      <%= yield %>
    </div>

    <%= render "includes/footer" %>
  </body>
</html>
