<!DOCTYPE html>
<html>
  <head>
    <title>Fake Wiki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- <link rel="stylesheet" href="../assets/semantic.min.css">
    <script src="../assets/semantic.min.js"></script> -->
</head>

  <body>
    <%= render "includes/navigation" %>

    <div class="ui main text container">
      <%= render "includes/flash_notices" %>
      <%= render "includes/side_menu" %>
      <%= yield %>
    </div>

    <%= render "includes/footer" %>
  </body>
</html>
